# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
artifacts/
out/
.teamcity/target/
*.binlog

# .NET / IDE
.DS_Store
*.user
*.suo
.vs/
.idea/
*.DotSettings.user

# Test results
TestResults/
*.trx

# Local state
*.db
*.db-shm
*.db-wal
.env
